{% extends 'layout.html' %}

{% block main %}
<main style="margin-top: 1em" class="">

    <div id="expertise">
        <section>
            <h2 class="subhead">
                <i class="icon pos fas fa-graduation-cap"></i>
                A graduate student
            </h2>
            <p>Masters in Computer Science</p>
            <p>University of Florida, Gainesville</p>
        </section>
        <section>
            <h2 class="subhead">
                <i class="icon pos fas fa-handshake"></i>
                with Industry experience
            </h2>
            <p>
                3 years of software development
            </p>
            <p>
                Ex-Senior Engineer @ <a href="https://terrapay.com"><b>TerraPay</b></a>
                <br/>One of the early employees of the fintech startup
            </p>
        </section>
        <section>
            <h2 class="subhead">
                <i class="icon pos fas fa-terminal"></i>
                and very particular set of skills
            </h2>

            <p>
                Algorithm design, Programming, Software development<br/>
                Object oriented design, Testing & Debugging
            </p>
            <p>
                Problem Solving, Patience & Teaching
            </p>
        </section>
        <section>
                <h2 class="subhead">
                    <i class="icon pos fas fa-search"></i>
                    looking for?
                </h2>
    
                <p>
                    Software Engineer Internship<br/>
                    A place to use my skills to make real difference
                </p>
            </section>
    </div>
</main> {% endblock %}
