{% extends 'layout.html' %}

{% block main %}



<div id="resume">
    
    <section style="margin-top: 1em">
        <h2 style="text-align: center">Download a copy <a href="/download">here</a>.</h2>
        <h1>Experience</h1>
        <h2>
            <strong>Senior Software Engineer</strong>,
            <a href="https://www.comviva.com/" target="_blank">Comviva</a>
            </a><span style="float: right">Aug 2016 - Jul 2019</span>
        </h2>

        <h2><a href="https://www.terrapay.com/" target="_blank">TerraPay</a>, a B2B company incubated by Comviva</h2>
        <ul>
            <li>
                <strong>Ledger Management System</strong>
                <ul>
                    <li>Created the financial accounting system for TerraPay which records, monitors and maintains fund
                        balances of 50+ partners.</li>
                    <li>Ledger module processed over a million transactions with 100% correctness</li>
                </ul>
            </li>
            <li>
                <strong>Name Matching Algorithm</strong>
                <ul>
                    <li>Designed & developed algorithm to get similarity of two given names</li>
                    <li>Helped to reduce transaction reversals by 80%.</li>
                    <li>This is used as one of the many important validations to prevent money
                        laundering</li>
                </ul>
            </li>
            <li>
                <strong>API Parser & Request Throttler</strong>
                <ul>
                    <li>Designed & developed a generic API parser to accept and convert to any data format.</li>
                    <li>Reduced reques parsing time by 30% and extended support to complex payloads.</li>
                </ul>
            </li>
            <li>
                <strong>Partner Integrations</strong>
                <ul>
                    <li>Managed relationship with over 20 clients
                    <li>Handled Western Union & 10+ global financial leaders into TerraPay’s network.
                    </li>
                    <li>On-site client experience with Vodacom in Tanzania &GIMAC in Cameroon</li>
                </ul>
            </li>
        </ul>

    </section>

    <section id="skills">
        <h1>Skills</h1>

        <ul>
            <li>
                <strong>Languages</strong>
                Java, C++, Python, JavaScript, Ruby, SQL, Julia
            </li>
            <li>
                <strong>Frameworks</strong>
                Spring, Spring Boot, Hibernate, Flask, Django, Rails
            </li>
            <li>
                <strong>Editors & IDE</strong>
                Sublime, VSCode, Eclipse, PyCharm
            </li>
            <li>
                <strong>Version control</strong>
                Git, SVN
            </li>
        </ul>
    </section>

    <section id="skills">
        <h1>Education</h1>

        <ul>
            <li>
                <strong>University of Florida, Gainesville, FL</strong> Master of Science - Computer Science <span
                    style="float: right;">Aug 2019 - May 2021</span>
            </li>
            <li>
                <strong>VIT University, Vellore, India</strong>
                Bachelor of Technology - Computer Science <span style="float:right;"> Jul 2012 - May 2016</span>
            </li>
        </ul>
    </section>

</div>
{% endblock %}